.form {
    display: grid;
    grid-template-columns: 1fr 100px;
    gap: 5px
}

.textarea {
    height: 100%;
    width: 100%;
    padding: 15px;
    background-color: transparent;
    border: 1px solid var(--bg-color);
    border-radius: 10px;
    outline: 0;
    resize: none;
    font-family: inherit;
    color: #fff;
}

.textarea:hover,
.textarea:focus {
    padding: 14px;
    border: 2px solid var(--button-color-hover);
}

.textarea::placeholder {
    opacity: 0.7;
    color: #fff;
}

.textarea.error_border {
    border-color: red;
}

.textarea.error_border::placeholder {
    opacity: 1;
    color: red;
}

.error {
    grid-column: span 2;
    color: red;
    font-size: 14px;
    text-indent: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 35px);
    gap: 5px;
}

.button {
    grid-column: span 2;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--bg-color);
    outline: 0;
    background-color: var(--button-color);
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    transition: opacity 0.3s, background-color 0.3s;
}

.button[disabled] {
    opacity: 0.5;
    background-color: var(--button-color-disabled);
}

.file,
.voice {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--button-color);
    border: 1px solid var(--bg-color);
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.voice {
    outline: 0;
}

.file input {
    position: absolute;
    height: 0;
    left: 0;
    opacity: 0;
}

.button:not([disabled]):hover,
.file:hover,
.voice:hover,
.button:not([disabled]):focus,
.file:has(input:focus),
.voice:focus {
    background-color: var(--button-color-hover);
}


@media (min-width: 769px) {
    .form {
        grid-template-columns: 1fr 130px;
        gap: 7px
    }

    .buttons {
        grid-template-rows: repeat(2, 40px);
        gap: 7px;
    }
}