:root {
    --bg-color: #F5DDDD;
    --block-color: #53687E;
    --block-color-dark: #3A4454;
    --button-color: #1c395d;
    --button-color-hover: #13293d;
    --button-color-disabled: #232a2f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
#root {
    min-height: 100%;
    background-color: var(--block-color);
}

body {
    min-height: 100%;
    background-color: var(--block-color);
}

[class*="container"] {
    max-width: 1460px;
    margin: 0 auto;
    padding: 0 15px;
}

[class*="_ibg"] {
    position: relative;
}

[class*="_ibg"] img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: var(--bg-color);
}

.app.overflow {
    overflow: hidden;
    height: 100vh;
}

.content {
    flex: 1 0 auto;
    padding-top: 70px;
}

.content__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}


@media (min-width: 992px) {
    .app {
        gap: 30px;
    }

    .app.overflow {
        overflow: unset;
        height: unset;
    }

    .content {
        padding-top: 115px;
    }

    .content__container {
        display: grid;
        grid-template-columns: 200px 1fr;
        align-items: start;
        gap: 30px;
    }
}