html,
body,
#root {
    height: 100%;
}

[class*="__container"] {
    max-width: 1400px;
    margin: 0;
    padding: 0 15px;
}

[class*="-ibg"] {
    position: relative;
}

[class*="-ibg"] img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.app {
    height: 100%;
    display: grid;
    grid-template-areas: 'header header'
    'sidebar content' 'footer footer';
    grid-template-columns: 300px 1fr;
    grid-template-rows: max-content 1fr max-content;
    gap: 30px;
    background-color: #507259;
}

.header {
    grid-area: header;
    height: max-content;
    padding: 15px 0;
    background-color: #333;
}

.header__container {
    display: flex;
    align-items: center;
}

.header__logo svg {
    overflow: visible;
}

.header__logo:hover .header__logo-face {
    transform-origin: bottom center;
    animation: rotate-logo 3s linear infinite;
}

@keyframes rotate-logo {
    25% {
        transform: rotate(6deg);
    }

    50% {
        transform: unset;
    }

    75% {
        transform: rotate(-6deg);
    }
}

.sidebar {
    grid-area: sidebar;
    height: max-content;
    padding: 15px;
    background-color: #333;
    border-radius: 0 10px 10px 0;
}

.sidebar__list {
    padding: 0;
    list-style-type: none;
}

.sidebar__link a {
    padding: 10px;
    display: block;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s;
}

.sidebar__link a:hover {
    background-color: #507259;
}

.sidebar__link a:active {
    background-color: #445f4b;
}

.content {
    grid-area: content;
    background-color: #333;
    border-radius: 10px 0 0 10px;
}

.profile {
    padding: 15px;
    color: #fff;
}

.profile__info {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.profile__about {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile__label {
    opacity: 0.7;
}

.profile__line {
    display: flex;
    gap: 10px;
}

.profile__avatar-ibg {
    flex: 0 0 200px;
    padding-bottom: 200px;
}

.profile__bg-ibg {
    flex: 1 1 auto;
    padding-bottom: 200px;
}

.profile__bg-ibg img {
    object-position: right;
}

.footer {
    grid-area: footer;
    padding: 15px;
    background-color: #333;
    text-align: center;
    color: #fff;
    font-size: 14px;
}